[submodule "arglib"]
	path = arglib
	url = git@github.com:j-luo93/arglib.git
	branch = 0.1
[submodule "trainlib"]
	path = trainlib
	url = git@github.com:j-luo93/trainlib.git
	branch = master
[submodule "devlib"]
	path = devlib
	url = git@github.com:j-luo93/devlib.git
